/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/mcmicro'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

process {
    withName: BASICPY {
        ext.args = '-sf 5'
    }
}

profiles {
    // Enables caching of downloaded keras models outside the container.
    keras_cache_tmp {
        process {
            withName: "DEEPCELL_MESMER" {
                containerOptions =  '-v $(mkdir -p /tmp/.keras && echo /tmp/.keras):/tmp/.keras'
            }
        }
    }
}
